/* Basic Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f7f7f7;
  padding-top: 80px;
}

header {
  background-color: #fbc02d;
  color: #2e7d32;
  text-align: center;
  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-bottom: 4px solid #2e7d32;
}

nav {
  margin-top: 15px;
}

nav a {
  text-decoration: none;
  margin: 0 20px;
  color: #1b5e20;
  font-weight: bold;
  font-size: 1.1rem;
  padding: 8px 16px;
  border-radius: 6px;
  transition: all 0.3s ease;
}

nav a:hover {
  background-color: #2e7d32;
  color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

main {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #2e7d32;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #276329;
}

#confirmation {
  margin-top: 20px;
  color: green;
  font-weight: bold;
  text-align: center;
}

.hidden {
  display: none;
}
